<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- <script src="https://unpkg.com/kaboom@3000.0.0-beta.6/dist/kaboom.js"></script> -->
    <title>Py Geometry</title>
    
    {% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/circle.css' %}">
    {% endblock %}
</head>
<body bgcolor="Black">
    <div class="hollow-circle"></div>
    <div id="mousePos">Mouse Position: <span id="position">X, Y</span></div>
    {% load static %}
    <script src="{% static 'js/circle.js' %}"></script>
</body>
</html>

