<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!-- <script src="https://unpkg.com/kaboom@3000.0.0-beta.6/dist/kaboom.js"></script> -->
    <title>Py Geometry</title>
    <!-- <style src = "{% static 'css/circle.css' %}"></style> -->
    <style>
        body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

.hollow-circle {
    width: 100px;
    height: 100px;
    border: 2px solid yellow;
    border-radius: 50%;
    background: none;
  }
    </style>
</head>
<body bgcolor="Black">
    <div class="hollow-circle"></div>
    <!-- <script type="module" src="{% static 'js/circle.js' %}"></script> -->
</body>
</html>

