<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!-- <script src="https://unpkg.com/kaboom@3000.0.0-beta.6/dist/kaboom.js"></script> -->
    <title>Py Geometry</title>
    <!-- <style src = "{% static 'css/circle.css' %}"></style> -->
    {% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/circle.css' %}">
    {% endblock %}
</head>
<body bgcolor="Black">
    <div class="hollow-circle"></div>
    <script type="module" src="{% static 'js/circle.js' %}"></script>
</body>
</html>

