body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0;
  }

.hollow-circle {
    width: 150px;
    height: 150px;
    border: 2px solid yellow;
    border-radius: 50%;
    background: none;
  }
  #mousePos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the position with translate */
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

